In [1]:
pip install pandas scikit-learn keras

Requirement already satisfied: pandas in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (1.3.5)
Requirement already satisfied: scikit-learn in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (1.0.2)
Requirement already satisfied: keras in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (2.3.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: scipy>=1.1.0 in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: six>=1.9.0 in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (from keras) (1.16.0)
Requirement already satisfied: pyyaml in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (from keras) (6.0)
Requirement already satisfied: h5py in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (from keras) (2.10.0)
Requirement already satisfied: keras-applications>=1.0.6 in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (from keras) (1.0.8)
Requirement already satisfied: keras-preprocessing>=1.0.5 in c:\users\chari\anaconda3\envs\gametrick\lib\site-packages (from keras) (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam

Using TensorFlow backend.
C:\Users\chari\anaconda3\envs\gametrick\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\chari\anaconda3\envs\gametrick\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\chari\anaconda3\envs\gametrick\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\chari\anaconda3\envs\gametrick\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\chari\anaconda3\envs\gametrick\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\chari\anaconda3\envs\gametrick\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\chari\anaconda3\envs\gametrick\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\chari\anaconda3\envs\gametrick\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\chari\anaconda3\envs\gametrick\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\chari\anaconda3\envs\gametrick\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\chari\anaconda3\envs\gametrick\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\chari\anaconda3\envs\gametrick\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
# Load the concrete data
data_url = "https://cocl.us/concrete_data"
concrete_data = pd.read_csv(data_url)

In [4]:
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
# Extract predictors and target variable
predictors = concrete_data.drop(columns=['Strength'])
target = concrete_data['Strength']

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [11]:
n_col = predictors.shape[1]

In [12]:
n_col

8

In [19]:
# Function to build and evaluate the model
def build_and_evaluate_model():
    # Split the data into training and test sets
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)
    
    # Build the model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_col,))) #hiddne layer
    model.add(Dense(1))  # Output layer
    
    # Compile the model
    model.compile(optimizer='adam', loss='mean_squared_error')
    
    # Train the model
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    # Evaluate the model on test data
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    
    return mse

In [16]:
# List to store mean squared errors
mse_list = []

In [17]:
# Repeat steps 1-3 for 50 times
for _ in range(50):
    mse = build_and_evaluate_model()
    mse_list.append(mse)

WARNING:tensorflow:From C:\Users\chari\anaconda3\envs\gametrick\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

In [23]:
mse_list

[99.83445677776012,
 308.2744987209072,
 484.91218220432944,
 135.92553942932693,
 252.6554433209635,
 453.35931137393186,
 199.71871655878692,
 828.3333931230319,
 110.10291608147742,
 188.24348624821312,
 977.3886981785665,
 380.2593012774899,
 179.02729142267597,
 113.78864699055319,
 187.30837607986743,
 542.4108434237265,
 107.8151562316579,
 111.93757073946816,
 132.77326998204276,
 129.15487407300452,
 112.7467108458042,
 1863.531375168345,
 1529.9043932716509,
 570.0101093505311,
 121.8754924249512,
 134.23267955870983,
 134.87259573786145,
 204.60592760485525,
 147.9801320666597,
 252.38081500335056,
 244.6429368946897,
 656.0051072451565,
 137.84779515861155,
 159.82832801853385,
 467.64415089253464,
 125.24138760294845,
 196.56144546673363,
 254.043669584159,
 111.88396717950704,
 132.59354304566006,
 237.19341385887887,
 115.75209371515169,
 143.48241611688357,
 258.6170361906806,
 136.85554987758135,
 180.82276316940633,
 108.75769139764064,
 312.6547237398439,
 1283.9205613607148,
 1734.182474729901]

In [21]:
import numpy as np
# Calculate mean and standard deviation of mean squared errors
mean_mse = np.mean(mse_list)
std_mse = np.std(mse_list)

In [22]:
# Print the results
print("Mean of Mean Squared Errors:", mean_mse)
print("Standard Deviation of Mean Squared Errors:", std_mse)

Mean of Mean Squared Errors: 359.8779051703143
Standard Deviation of Mean Squared Errors: 416.28048685070377

## part B

In [25]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [34]:
# Function to normalize data, build, and evaluate the model
def build_and_evaluate_normalized_model():
    
    # Split the normalized data into training and test sets
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
    
    # Build the model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_col,)))
    model.add(Dense(1))  # Output layer
    
    # Compile the model
    model.compile(optimizer='adam', loss='mean_squared_error')
    
    # Train the model
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    # Evaluate the model on normalized test data
    y_pred_nom = model.predict(X_test)
    mse_nom = mean_squared_error(y_test, y_pred_nom)
    
    return mse_nom

In [35]:
# List to store mean squared errors for normalized data
mse_normalized_list = []

In [36]:
# Repeat steps 1-3 for 50 times using normalized data
for _ in range(50):
    mse_nom = build_and_evaluate_normalized_model()
    mse_normalized_list.append(mse_nom)

In [37]:
mse_normalized_list

[289.0367308913763,
 297.81053606555787,
 256.56130884462317,
 354.08957794324647,
 294.0248340962118,
 405.6951873232538,
 339.4234687114668,
 347.82176708795447,
 340.7917627723063,
 357.76235029989624,
 402.5071468670158,
 259.77065676397484,
 471.6349442286355,
 343.18462546956977,
 248.17900083942092,
 219.49315772388164,
 394.36418300563656,
 371.1775093846026,
 329.58742287542213,
 314.79241298265134,
 227.744827520364,
 396.6356216870581,
 430.2921124183657,
 275.94388958299425,
 292.13894220889284,
 452.40861539146846,
 247.98061061695574,
 276.5291307117603,
 371.3608328434306,
 387.73248730969624,
 286.7722132218799,
 306.0883350552032,
 298.2238218626036,
 332.78141698912685,
 329.2207376352921,
 269.1776404115156,
 307.7180144717006,
 409.9747347926312,
 323.5773721441119,
 400.16268949174525,
 298.93866448474733,
 346.0351570476385,
 295.76187883854845,
 330.72740957376845,
 404.9693403879549,
 363.88810481079065,
 226.24170376743984,
 390.7663245142397,
 305.04934689911227,
 384.5471975001456]

In [38]:
# Calculate mean and standard deviation of mean squared errors for normalized data
mean_mse_normalized = np.mean(mse_normalized_list)
std_mse_normalized = np.std(mse_normalized_list)

In [39]:
# Print the results
print("Mean of Mean Squared Errors (Normalized Data):", mean_mse_normalized)
print("Standard Deviation of Mean Squared Errors (Normalized Data):", std_mse_normalized)

# Compare with the results from Part A
print("\nComparison with Part A:")
print("Mean of Mean Squared Errors (Part A):", mean_mse)

Mean of Mean Squared Errors (Normalized Data): 332.14195516735776
Standard Deviation of Mean Squared Errors (Normalized Data): 59.55407111421774

Comparison with Part A:
Mean of Mean Squared Errors (Part A): 359.8779051703143

## part c

In [47]:
# Function to normalize data, build, and evaluate the model
def build_and_evaluate_increased_epochs_model():
    
    # Split the normalized data into training and test sets
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
    
    # Build the model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_col,)))
    model.add(Dense(1))  # Output layer
    
    # Compile the model
    model.compile(optimizer='adam', loss='mean_squared_error')
    
    # Train the model
    model.fit(X_train, y_train, epochs=100, verbose=0)
    
   # Evaluate the model on normalized test data
    y_pred_nom = model.predict(X_test)
    mse_increased_epochs = mean_squared_error(y_test, y_pred_nom)
    
    return mse_increased_epochs

In [48]:
# List to store mean squared errors for increased epochs
mse_increased_epochs_list = []

In [49]:
# Repeat steps 1-3 for 50 times using increased epochs
for _ in range(50):
    mse_increased_epochs = build_and_evaluate_increased_epochs_model()
    mse_increased_epochs_list.append(mse_increased_epochs)

In [50]:
# Calculate mean and standard deviation of mean squared errors for increased epochs
mean_mse_increased_epochs = np.mean(mse_increased_epochs_list)
std_mse_increased_epochs = np.std(mse_increased_epochs_list)

In [51]:
# Print the results
print("Mean of Mean Squared Errors (Increased Epochs):", mean_mse_increased_epochs)
print("Standard Deviation of Mean Squared Errors (Increased Epochs):", std_mse_increased_epochs)

# Compare with the results from Part B
print("\nComparison with Part B:")
print("Mean of Mean Squared Errors (Part B):", mean_mse_normalized)

Mean of Mean Squared Errors (Increased Epochs): 159.56862910047118
Standard Deviation of Mean Squared Errors (Increased Epochs): 18.45836415266471

Comparison with Part B:
Mean of Mean Squared Errors (Part B): 332.14195516735776

## part D

In [52]:
# Function to normalize data, build, and evaluate the model with three hidden layers
def build_and_evaluate_increased_hidden_layers_model():
    
    # Split the normalized data into training and test sets
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
    
    # Build the model with three hidden layers
    model = Sequential()
    #3 hiddne layer
    model.add(Dense(10, activation='relu', input_shape=(n_col,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))  # Output layer
    
    # Compile the model
    model.compile(optimizer='adam', loss='mean_squared_error')
    
    # Train the model with 50 epochs
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    # Evaluate the model on normalized test data
    y_pred_nom = model.predict(X_test)
    mse_increased_hidden_layers = mean_squared_error(y_test, y_pred_nom)
    
    return mse_increased_hidden_layers

In [53]:
# List to store mean squared errors for increased hidden layers
mse_increased_hidden_layers_list = []

In [54]:
# Repeat steps 1-3 for 50 times using increased hidden layers
for _ in range(50):
    mse_increased_hidden_layers = build_and_evaluate_increased_hidden_layers_model()
    mse_increased_hidden_layers_list.append(mse_increased_hidden_layers)

In [55]:
# Calculate mean and standard deviation of mean squared errors for increased hidden layers
mean_mse_increased_hidden_layers = np.mean(mse_increased_hidden_layers_list)
std_mse_increased_hidden_layers = np.std(mse_increased_hidden_layers_list)
mse_increased_hidden_layers_list

[131.84104594187627,
 108.15703717135028,
 125.32841600586049,
 122.02264232218984,
 105.01008615114651,
 143.75355454742956,
 108.3500068924695,
 123.11104031637439,
 138.3113714081265,
 128.64420118466268,
 105.78297662811975,
 124.83088097625718,
 117.12352784194597,
 134.31410220602575,
 86.1711414907119,
 129.0160270886748,
 130.68810267703248,
 118.54318244580398,
 129.52276181997948,
 127.54258347242042,
 124.82352395377998,
 114.2931824741648,
 131.09150623083585,
 133.46624203572594,
 118.35190910628083,
 101.58058514590425,
 102.14033138534336,
 106.5444181446346,
 143.2980966307708,
 123.39380406752147,
 126.42236926143258,
 124.0252118477835,
 129.58988229752265,
 97.3927465938799,
 122.29332820553279,
 128.0826850948744,
 129.91659638814767,
 132.45386253866266,
 129.77715973720407,
 135.74391005985595,
 104.80834108552448,
 134.39560719615335,
 128.67302413527185,
 99.67591006192848,
 116.36931830498655,
 116.96681737505602,
 139.96232346239213,
 74.6113485441086,
 132.19277577463023,
 118.95155177352585]

In [56]:
# Print the results
print("Mean of Mean Squared Errors (Increased Hidden Layers):", mean_mse_increased_hidden_layers)
print("Standard Deviation of Mean Squared Errors (Increased Hidden Layers):", std_mse_increased_hidden_layers)

# Compare with the results from Part B
print("\nComparison with Part B:")
print("Mean of Mean Squared Errors (Part B):", mean_mse_normalized)

Mean of Mean Squared Errors (Increased Hidden Layers): 121.18706115003786
Standard Deviation of Mean Squared Errors (Increased Hidden Layers): 14.252502083031345

Comparison with Part B:
Mean of Mean Squared Errors (Part B): 332.14195516735776